.bookTitle {
  margin-top: 10px;
}

.select {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #ebebeb;
  height: 700px;
}

.select__option {
  width: 500px;
  padding: 13px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.select__option:nth-child(2) {
  border-left: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
}

.select__optionLabel {
  font-size: 18px;
  font-weight: 600;
}

.select__movieTitleDefault {
  margin-top: 8px;
  padding: 5px 0;
  background-color: white;
  cursor: pointer;
}

.select__movieTitleDefault:hover {
  background-color: #f3f3f3;
}

.select__movieTitleClicked {
  margin-top: 8px;
  padding: 5px 0;
  background-color: #6714e3;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.select__movieTitle {
  margin-top: 8px;
  padding: 5px 0;
}

.select__form {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.select__form select {
  margin-top: 10px;
}

.datePicker {
  margin: 13px 0;
  width: 90%;
}

.timePicker {
  width: 90%;
}

.btn-select {
  margin-top: 10px;
  position: absolute;
  right: 10%;
  padding: 10px 50px;
  background-color: #9147ff;
  color: white;
  border: none;
  border-radius: 15px;
}

.btn-select:hover {
  background: linear-gradient(to bottom right, #8432fc, 60%, #cea0fa);
}
