main {
  display: flex;
  flex-direction: column;
}

.main__title {
  margin-top: 20px;
}

h1 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}

.main__content {
  margin: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__id,
.login__pw {
  padding: 15px 0px;
  width: 300px;
  margin: 5px 0px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.login__id-save {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  margin-top: 3px;
}

.login__checkbox {
  width: 15px;
}

.login__btnLogin {
  width: 300px;
  padding: 15px 50px;
  margin-top: 60px;
  background-color: black;
  color: white;
  border: 0;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.login__btnLogin:hover {
  opacity: 0.7;
}

.find_info {
  display: flex;
  justify-content: center;
}

.find_info a {
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  color: #8e8e8e;
}

.find_info .bar {
  margin: 0 3px;
}

.bar {
  display: inline-block;
  width: 1px;
  height: 12px;
  text-indent: -999em;
  background: #e4e4e5;
  vertical-align: bottom;
}
