.btn-util {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.movie__btnLike {
  margin-top: 7px;
  background-color: #f7f7f7;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px #e3e6ea;
  border: none;
  cursor: pointer;
}

.movie__btnLike:hover {
  size: 50px;
}

.movie__btnBook {
  cursor: pointer;
  width: 130px;
  background-color: #9147ff;
  border-radius: 7px;
  color: white;
  text-align: center;
  padding: 5px;
}

.movie__btnBook:hover {
  background: linear-gradient(to bottom right, #8432fc, 60%, #cea0fa);
}

.slick-list {
  height: 525px;
}

.slick-active {
  padding: 0 10px;
}
