.seat-main {
  display: flex;
  flex-direction: row;
}

.seat_select {
  display: flex;
  flex-direction: column;
  border: 2px solid #ebebeb;
  width: 68%;
  height: 700px;
  padding: 13px;
}

.seatTitle {
  font-size: 18px;
  font-weight: 600;
}

/* 관람인원 선택 */

.seat-count {
  display: flex;
}

.seatCount__column {
  display: flex;
  align-items: center;
  margin: 13px 20px;
}

.txt {
  margin-right: 5px;
}

.seat__btnCount {
  display: flex;
}

.btnDown,
.btnUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  font-size: 1.2em;
}

.btnDown {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.btnUp {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.seat-num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 24px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  background-color: #efefef;
}

.seat-availableNum {
  font-weight: 600;
  color: #2b71fc;
}

/* 좌석 선택하기 */

.seatLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 92%;
  height: 600px;
  background-color: black;
}

.seat__title {
  color: #efefef;
  font-size: 26px;
  padding-bottom: 15px;
  border-bottom: 2px solid #efefef;
}

.seat-picker {
  margin: 0 auto;
}

.seat-content {
  width: 400px;
}

.seat {
  width: 50px;
  height: 50px;
}

.seat__number {
  font-size: 20px;
}

/* 예약 결과 보여주기 */

.seat-result {
  margin-left: 15px;
  width: 32%;
  height: 700px;
  background-color: teal;
  border-radius: 13px;
}

.select-phase {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-arrowLeft {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #9147ff;
  color: white;
}
